################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClientConsoleApp/ClientConsoleApp/obj
/ClientConsoleApp/.vs
